@model IEnumerable<Gives.Models.Footer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<h2>Footer</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Twitter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Google)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facebook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LInkedin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scype)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Twitter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Google)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facebook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LInkedin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Scype)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
