@model Gives.Models.Home_Recent

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<div>
    <h4>Delete Recent Support</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recent_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recent_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recent_Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recent_Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.First_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Second_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Second_Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Progres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Progres)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group form-responce">
            <input type="submit" value="Delete" class="btn btn-delete" />
            <div class="return-back">
                <h3>@Html.ActionLink("Back to List", "Index")</h3>
            </div>
        </div>
    }
    </div>


