@model IEnumerable<Gives.Models.Causes_Single_Cards>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<h2>Single Cards Values </h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThirdPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThirdPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>
