
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pay-system">
    <div class="donation-wrapper">
        <div class="container">
            <div class="section-name features-section">
                <h2>Your Little Support</h2>
                <div class="text-mini">
                    <h5>We will be grateful for your help</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="donation clearfix">
                        <ul class="tabs-switcher nav nav-tabs clearfix">
                            <li class="active">
                                <a data-toggle="tab" href="#tab-1">
                                    <i class="fa fa-paypal"></i>PayPlay
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-2">
                                    <i class="fa fa-cc-visa"></i>Visa / MasterCard
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane row active" id="tab-1">
                                <p class="col-xs-12">
                                    @ViewBag.SinglePayTitle.Title
                                </p>
                                <form class="donation-form col-xs-12 row" method="post">
                                    <div class="field col-sm-6">
                                        <h4>Donation Amount</h4>
                                        <div class="radio-inputs">
                                            <input type="radio" id="amount-1" name="Amount" value="@ViewBag.SinglePayPal.FirstPrice">
                                            <label for="amount-1">
                                                <span></span>$@ViewBag.SinglePayPal.FirstPrice
                                            </label>
                                            <input type="radio" id="amount-2" name="Amount" value="@ViewBag.SinglePayPal.SecondPrice">
                                            <label for="amount-2">
                                                <span></span>$@ViewBag.SinglePayPal.SecondPrice
                                            </label>
                                            <input type="radio" id="amount-3" name="Amount" value="@ViewBag.SinglePayPal.ThirdPrice">
                                            <label for="amount-3">
                                                <span></span>$@ViewBag.SinglePayPal.ThirdPrice
                                            </label>
                                        </div>
                                    </div>
                                    <div class="field col-sm-6">
                                        <h4>PayPal</h4>
                                        <input type="number" name="Card_Number">
                                    </div>
                                    <div class="field col-sm-6">
                                        <button class="btn btn-big btn-solid ">
                                            <i class="fa fa-archive"></i>
                                            <span style="color:white">Donate Now</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane row" id="tab-2">
                                <p class="col-xs-12">
                                    @ViewBag.SinglePayTitle.Title
                                </p>
                                <form class="donation-form col-xs-12 row" method="post">
                                    <div class="field col-sm-6">
                                        <h4>First Name</h4>
                                        <input type="text" name="Firstname">
                                    </div>
                                    <div class="field col-sm-6">
                                        <h4>Last Name</h4>
                                        <input type="text" name="Lastname">
                                    </div>
                                    <div class="field col-sm-6">
                                        <h4>Donation Amount</h4>
                                        <div class="radio-inputs">
                                            <input type="radio" id="amount-4" name="Amount" value="@ViewBag.SingleCards.FirstPrice">
                                            <label for="amount-4">
                                                <span></span>$@ViewBag.SingleCards.FirstPrice
                                            </label>
                                            <input type="radio" id="amount-6" name="Amount" value="@ViewBag.SingleCards.SecondPrice">
                                            <label for="amount-6">
                                                <span></span>$@ViewBag.SingleCards.SecondPrice
                                            </label>
                                            <input type="radio" id="amount-7" name="Amount" value="@ViewBag.SingleCards.ThirdPrice">
                                            <label for="amount-7">
                                                <span></span>$@ViewBag.SingleCards.ThirdPrice
                                            </label>
                                        </div>
                                    </div>
                                    <div class="field col-sm-6">
                                        <h4>Donation Amount</h4>
                                        <div class="radio-inputs">
                                            <input type="radio" id="one-time" name="Pay_Type" value="one-time">
                                            <label for="one-time">
                                                <span></span>One Time
                                            </label>
                                            <input type="radio" id="monthly" name="Pay_Type" value="monthly">
                                            <label for="monthly">
                                                <span></span>Monthly
                                            </label>
                                            <input type="radio" id="yearly" name="Pay_Type" value="yearly">
                                            <label for="yearly">
                                                <span></span>Yearly
                                            </label>
                                        </div>
                                    </div>
                                    <div class="field col-sm-6">
                                        <h4>Credit Card</h4>
                                        <select name="Card_Type" id="credit_card" style="background:url(/Uploads/select-arrow.png) right no-repeat;">
                                            <option value="Visa">Visa</option>
                                            <option value="Master Card">Master Card</option>
                                        </select>
                                    </div>
                                    <div class="field col-sm-6">
                                        <h4>Card Number</h4>
                                        <input type="number" name="Card_Number">
                                    </div>
                                    <div class="field col-sm-6">
                                        <h4>MM/YY</h4>
                                        <input type="text" name="Date">
                                    </div>
                                    <div class="field col-sm-6">
                                        <h4>CVC</h4>
                                        <input type="number" name="Card_CVC">
                                    </div>
                                    <div class="field col-sm-6">
                                        <button class="btn btn-big btn-solid ">
                                            <i class="fa fa-archive"></i>
                                            <span style="color:white">Donate Now</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div style="margin-top:40px;padding:0px" class="field col-md-12 col-sm-12 col-xs-12">
                                @if (ViewBag.Error != null)
                        {
                            <h3 style="color:red">@ViewBag.Error</h3>
                }

                                @if (ViewBag.Success != null)
                        {
                            <div class="col-md-12" style="height:100px; background-color:#F2B25B; border-radius:10px;text-align:center;padding-top:35px;margin-top:30px;">
                                <h2 style="color:white; font-family:Raleway, sans-serif;">@ViewBag.Success</h2>
                            </div>

                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

