<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin's Panel</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="~/Areas/Admin/Public/assets/css/normalize.css">
    <link rel="stylesheet" href="~/Areas/Admin/Public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/Public/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/Public/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Areas/Admin/Public/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/Public/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/Areas/Admin/Public/assets/scss/style.css">
    <link href="~/Areas/Admin/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Areas/Admin/Public/assets/scss/mystyle.css">

</head>
<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./">
                    <img src="~/Areas/Admin/Public/images/logo.png" alt="Logo">
                </a>
                <a class="navbar-brand hidden" href="./">
                    <img src="~/Areas/Admin/Public/images/logo2.png" alt="Logo">
                </a>
            </div>
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="@Url.Action("Index", "Admin")">
                            <i class="menu-icon fa fa-dashboard"></i>Dashboard
                        </a>
                    </li>
                    <h3 class="menu-title">UI elements</h3>
                    <!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-laptop"></i>Home Pages Edit
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index", "Home_Slider")">Home Slider </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Features")">Home Features </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Home_Cause")">Home Special Cause </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Home_Work_Us")">Home Work With Us</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Home_Need")">Home Need Volunteers </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Home_Gallery")">Home Gallery</a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-laptop"></i>Causes Pages Edit
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index", "Causes_Grid_Masking")">Grid Masking</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Causes_List_Masking")">List Masking</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Causes_Single_Masking")">Single Masking</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Causes_Single_Recent")">Single Content</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Causes_Single_PayTitle")">Single Pay Title</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Causes_Single_Cards")">Single Cards Value</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Causes_Single_Paypal")">Single PayPal Value</a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-laptop"></i>Gallery Edit
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index", "Gallery_Masking")">Masking</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Gallery_Images1")">Images</a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-laptop"></i>About  Edit
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index", "About_Masking")">Masking</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "About_Section")">Content</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "About_Partners")">Partners</a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-laptop"></i>Blogs Edit
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index", "Blog_List_MAsking")">List Masking</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Blog_Single_Masking")">Single Masking</a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-laptop"></i>Contact Edit
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index", "Contact_Masking")">Masking</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Contact_Adress")">Contact Information</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Footers")">
                            <i class="menu-icon fa fa-laptop"></i>Footer Edit
                        </a>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-user-plus"></i>Add / Edit  Elements
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index", "Home_Recent")">Support's Causes </a>
                            </li>

                            <li>
                                <a href="@Url.Action("Index", "Home_Volunteer")">Volunteers</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "AddNews")">News</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Categories")">Categories</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "AddPost")">Posts</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Tags")">Tags</a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-dollar"></i> Donations
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index", "Visa_Master_Donate")">Visa / Master </a>
                            </li>

                            <li>
                                <a href="@Url.Action("Index", "PayPal_Donate")">PayPal</a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon ti-email"></i>Mail
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index", "Become_Volunteer")">For Volunteering</a>
                            </li>

                            <li>
                                <a href="@Url.Action("Index", "User_Messages")">User's messages</a>
                            </li>
                        </ul>
                    </li>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-area-chart"></i>Maps
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <i class="menu-icon fa fa-map-o"></i>
                                <a href="@Url.Action("Index", "Map")">Google Maps</a>
                            </li>
                        </ul>
                    </li>
                    <h3 class="menu-title">Admin's settings</h3>
                    <li>
                        <a href="@Url.Action("Edit", "AdminAccount")">
                            <i class="menu-icon fa fa-edit"></i>Edit Information
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Logout", "AdminAccount")">
                            <i class="menu-icon fa fa-sign-out "></i>Exit
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Left Panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="header-menu">
                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left">
                        <i class="fa fa fa-tasks"></i>
                    </a>
                    <div class="header-left">
                        <button class="search-trigger">
                            <i class="fa fa-search"></i>
                        </button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit">
                                    <i class="fa fa-close"></i>
                                </button>
                            </form>
                        </div>
                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="fa fa-bell"></i>
                            </button>
                        </div>
                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="ti-email"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="~/Areas/Admin/Public/images/admin.png" alt="User Avatar">
                        </a>
                    </div>
                    <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-ui"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- /header -->
        <!-- Header-->
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>GiVES Dashboard</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row render-body ">
           @RenderBody()
        </div>
    </div>
    </div>
    </div>
    <script src="~/Areas/Admin/Public/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="~/Areas/Admin/Public/assets/js/plugins.js"></script>
    <script src="~/Areas/Admin/Public/assets/js/main.js"></script>
    <script src="~/Areas/Admin/Public/assets/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="~/Areas/Admin/Public/assets/js/dashboard.js"></script>
    <script src="~/Areas/Admin/Public/assets/js/widgets.js"></script>
    <script src="~/Areas/Admin/Public/assets/js/lib/vector-map/jquery.vmap.js"></script>
    <script src="~/Areas/Admin/Public/assets/js/lib/vector-map/jquery.vmap.min.js"></script>
    <script src="~/Areas/Admin/Public/assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="~/Areas/Admin/Public/assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>
</body>
</html>