@using Gives.Models
@model PagedList.IPagedList<Gives.Models.Home_Recent>
@using PagedList.Mvc

<!-- *-*-*-* Causes-Image Start *-*-*-* -->
<div class="cause-image" style="background-image:url(/Uploads/@ViewBag.CauseMasking.Image)">
    <div class="container">
        <div class="layout-masking"></div>
        <div class="section-name">
            <h2>@ViewBag.CauseMasking.Title</h2>
            <div class="text-mini">
                <h5>
                    @ViewBag.CauseMasking.Text_First
                    <i class="fa fa-angle-double-right"></i>@ViewBag.CauseMasking.Text_Second
                </h5>
            </div>
        </div>
    </div>
</div>
<!-- *-*-*-* Causes Image End *-*-*-* -->
<!-- *-*-*-* Causes List Gallery Start *-*-*-* -->

<div class="grid-cause-area list-cause-area">
    <div class="container">
        @foreach (var home_recent in Model)
         {
        <div class="row">
            <div class="cause content-box">
                <div class="col-md-5 col-sm-6">
                    <div class="img-wrapper">
                        <div class="overlay">
                        </div>
                        <img class="img-responsive" src="/Uploads/@home_recent.Image">
                    </div>
                </div>
                <div class="col-md-7 col-sm-6">
                    <div class="info-block">
                        <h4>
                            <a>@home_recent.Recent_Title</a>
                        </h4>
                        <p>
                            @home_recent.Recent_Content
                        </p>
                        <div class="foundings">
                            <div class="progress-bar-wrapper min">
                                <div class="progress-bar-outer">
                                    <p class="values">
                                        <span class="value one">Raised: $@home_recent.First_Price</span>-
                                        <span class="value two">To go: $@home_recent.Second_Price</span>
                                    </p>
                                    <div class="progress-bar-inner">
                                        <div class="progress-bar">
                                            <span data-percent="@home_recent.Progres">
                                                <span class="pretng">@home_recent.Progres%</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="donet_btn">
                            <a href="@Url.Action("Index","Donation")" class="btn btn-min btn-solid">
                                <i class="fa fa-archive"></i>
                                <span>Donate Now</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         }



        <!-- Pagination -->
        <div class="cause-pages">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
        </div>
    </div>
</div>
<!-- *-*-*-* Causes List Gallery End *-*-*-* -->
