@model IEnumerable<Gives.Models.About_Section>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<h2>About Content</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text_First)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text_Second)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Information)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text_First)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text_Second)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Information)
        </td>
        <td>
            <img src="~/Uploads/@item.Image" class="img-circle">
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
        </td>
    </tr>
}

</table>
