
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<div class="col-md-12">
    <h4>Delete Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Title
        </dt>

        <dd>
            @ViewBag.activePost.Title
        </dd>
        <dt>
            Date
        </dt>
        <dd>
            @Convert.ToDateTime(ViewBag.activePost.Date).ToString(" dd MMMM yyyy")
        </dd>
        <dt>
            Content
        </dt>

        <dd>
            @ViewBag.activePost.Content
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group form-responce">
            <input type="submit" value="Delete" class="btn btn-default" />
            <div class="return-back">
                <h3>@Html.ActionLink("Back to List", "Index")</h3>
            </div>
        </div>
    }
</div>

